/* Container for the images */
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

ul li a {
  height: 20rem;
  width: 20rem;
  border: 1px solid whitesmoke;
  border-radius: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #e72929;
}

.image-container {
  display: flex; /* Use flexbox to arrange items */
  /* Remove flex-direction: column to keep items horizontally */
}

.image-item {
  margin-right: 10px; /* Add space between images horizontally */
}

li a:hover {
  opacity: 0.9;
}
